<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480906178868-7ct2ifln8af4u6feq20em8q23gio6ivh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480906178868-7ct2ifln8af4u6feq20em8q23gio6ivh</string>
	<key>API_KEY</key>
	<string>AIzaSyDZrdqPoaf7z-q7d6aja77EVAFy8gPJpc0</string>
	<key>GCM_SENDER_ID</key>
	<string>480906178868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rafay.CloudNotes</string>
	<key>PROJECT_ID</key>
	<string>userlogin-44fb6</string>
	<key>STORAGE_BUCKET</key>
	<string>userlogin-44fb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480906178868:ios:118d5d8e0d322e33</string>
	<key>DATABASE_URL</key>
	<string>https://userlogin-44fb6.firebaseio.com</string>
</dict>
</plist>